@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@500;600;700&display=swap');

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

body {
  background-color: #08080D;
  color: #BCBABC;
  font-family: var(--font-sans);
}

.gradient-text {
  background: linear-gradient(to right, #F86D09, #EFA649);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}