@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

body {
  background-color: #08080D;
  color: #BCBABC;
  font-family: var(--font-sans);
  cursor: none;
}

.gradient-text {
  background: linear-gradient(to right, #8A2BE2, #DA70D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glitchy-title {
  font-family: var(--font-display);
  font-size: 5rem;
  font-weight: 700;
  color: #BCBABC; /* Use text-primary for base color */
  position: relative;
  animation: glitch-anim 2.5s infinite;
}

.glitchy-title::before,
.glitchy-title::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #08080D; /* Use background color */
  overflow: hidden;
}

.glitchy-title::before {
  left: 2px;
  text-shadow: -2px 0 #00F0FF;
  animation: glitch-anim-2 2s infinite linear alternate-reverse;
}

.glitchy-title::after {
  left: -2px;
  text-shadow: -2px 0 #8A2BE2;
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% { transform: translate(0); }
  20% { transform: translate(-3px, 3px); }
  40% { transform: translate(-3px, -3px); }
  60% { transform: translate(3px, 3px); }
  80% { transform: translate(3px, -3px); }
  100% { transform: translate(0); }
}

@keyframes glitch-anim-2 {
  0% { clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%); }
  10% { clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%); }
  20% { clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  30% { clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%); }
  40% { clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%); }
  50% { clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  60% { clip-path: polygon(0 10%, 100% 10%, 100% 15%, 0 15%); }
  70% { clip-path: polygon(0 90%, 100% 90%, 100% 95%, 0 95%); }
  80% { clip-path: polygon(0 40%, 100% 40%, 100% 45%, 0 45%); }
  90% { clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%); }
  100% { clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
}